<a href="https://colab.research.google.com/github/luisfilipe10/Python-para-Data-Science/blob/main/Atividades_Funcoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

temp_fahrenheit = temp_celsius * 9/5 + 32

In [1]:
temp_celsius = [0, 25, 37, 78, 100]

In [4]:
temperatura_transformada = list(map(lambda x : (x *9/5) + 32, temp_celsius))

In [7]:
temperatura_transformada

[32.0, 77.0, 98.6, 172.4, 212.0]

Hora da **Pratica**

Vamos praticar o que aprendemos até aqui solucionando os problemas propostos em código.

Aquecimento
1. Escreva um código que lê a lista abaixo e faça:

lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
Copiar código
A leitura do tamanho da lista
A leitura do maior e menor valor
A soma dos valores da lista
Ao final exiba uma mensagem dizendo:

"A lista possui [tam] números em que o maior número é [maior]

-- A leitura do tamanho da lista
-- A leitura do maior e menor valor
-- A soma dos valores da lista

In [8]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

In [9]:
len(lista)

17

In [12]:
print(f"O maior numero eh: {max(lista)}  e o menor eh: {min(lista)}")

O maior numero eh: 99  e o menor eh: 11

2. Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 7, a tabuada deve ser mostrada no seguinte formato:

In [15]:
print('Tabuada do 7')
for i in range(10):
    print(f'7 x {i+1} = {7*(i+1)}')

Tabuada do 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [18]:
# Requisitando o número
num = int(input("Digite um número inteiro de 1 a 10:"))

# Gerando a função tabuada()
def tabuada(numero: int):
  print(f'Tabuada do {numero}:')
  for i in range(11):
    resultado = numero * i
    print(f'{numero} x {i} = {resultado}')

# lendo a tabuada do número escolhido
tabuada(num)

Digite um número inteiro de 1 a 10:4
Tabuada do 4:
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

3. Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3:

[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

Utilize o return na função e salve a nova lista na variável mult_3.

In [29]:
def multiplos_de_3(lista):
    return [x for x in lista if x % 3 == 0]

# Exemplo de uso
lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
resultado = multiplos_de_3(lista)
print(resultado)  # Saída: [24, 99]

[24, 99]

4. Crie uma lista dos quadrados dos números da seguinte lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]. Lembre-se de utilizar as funções lambda e map() para calcular o quadrado de cada elemento da lista.

In [22]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
lista_quadrados = map(lambda x: pow(x, 2), lista)

In [26]:
lista_quadrados

In [28]:
list(lista_quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Aplicando a projetos
5. Você foi contratado(a) como cientista de dados de uma associação de skate. Para analisar as notas recebidas de skatistas em algumas competições ao longo do ano, você precisa criar um código que calcula a pontuação dos(as) atletas. Para isso, o seu código deve receber 5 notas digitadas pelas pessoas juradas.

Para calcular a pontuação de um(a) skatista, você precisa eliminar a maior e a menor pontuação dentre as 5 notas e tirar a média das 3 notas que sobraram. Retorne a média para apresentar o texto:

"Nota da manobra: [media]"

In [43]:
# declarando a lista de notas
notas = []
# laço for para pedir as 5 notas e armazená-las na lista notas
for i in range(1,6):
  nota = float(input(f"Digite a {i}ª nota: "))
  notas.append(nota)

# Função para remover a maior e menor nota e retornar a média das notas restantes
def media(lista):
  lista.remove(max(lista))
  lista.remove(min(lista))
  return sum(lista) / len(lista)

# Chamando a função e imprimindo a nota da(o) skatista
media = media(notas)
print(f"Nota da manobra: {round(media, 1)}")

Digite a 1ª nota: 3
Digite a 2ª nota: 4
Digite a 3ª nota: 5
Digite a 4ª nota: 5
Digite a 5ª nota: 5
Nota da manobra: 4.7